@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Special+Elite&display=swap");

.admin-dashboard {
  padding: 1rem;
  text-align: center;
  background-color: #ece5d1;
  font-family: "Special Elite", serif;
}

.admin-dashboard .tab-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.8rem;
  margin: 2rem 0;
  flex-wrap: wrap;
}

.admin-dashboard .tab-button {
  background-color: #ece5d1;
  color: #848b79;
  font-weight: bold;
  padding: 1rem;
  border: 2px solid #848b79;
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s, color 0.3s;
  width: 100%;
  max-width: 115px;
}

.admin-dashboard .tab-button:hover {
  background-color: #d6cfbc;
  transform: translateY(-2px) scale(1.03);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.admin-dashboard .tab-button.active {
  background-color: #848b79;
  color: #ece5d1;
  border: 2px solid #848b79;
}

.admin-dashboard .tab-content {
  margin-top: 2rem;
}

.admin-dashboard .logout-button {
  margin-top: 0rem;
  padding: 0.8rem 2rem;
  background-color: #848b79;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.admin-dashboard .logout-button:hover {
  background-color: #6b8e23;
  transform: scale(1.05);
}

.placeholder-tab {
  font-size: 1.2rem;
  color: #555;
  margin-top: 2rem;
}
